/* *{
    background-color: #FFFFFF;
} */

.modalBackground {
    background: rgba(255, 254, 254, 0.5);
    opacity: 1;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(24px);
    
  }

.modalContainer {
    border: 1px solid #D8D8D8;
    
    width: 1000px;
    height: 550px;
    margin-top: 130px;
    
    padding-left: 32px;
    background-clip: border-box;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #00000012;
    border-radius: 5px;

}

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    
}

.liked {
    fill: green;
}

.modalContent {
    display: flex;
    flex-direction: row;
    gap: 43px;
}

.modalTitle {
    background-color: #FFFFFF;
    color: #F0972A;
    font: normal normal bold 20px Roboto Slab;
    margin-top: 22px;
    margin-bottom: 22px;

}

.modal-image {
    width: 412px;
    height: 243px;
    object-fit: cover;
}

.best-served-for {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #96BB36;
    font: normal normal bold 15px Roboto Slab;
}


.modal-leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 412px;
    height: 450px;
}

.modal-rightSide {
    width: 504px;
}

.modal-category {
    background-color: #96BB36;
    width: 63px;
    height: 19px;
    border-radius: 15px;
    text-align: center;
    color: white;
        
}

.modal-recipe-title {
    color: #96BB36;
    margin-bottom: 20px;
    
}

.modal-recipe-details {
    font: normal normal normal 16px/21px Roboto;
}

.x-button {
    color: #A5A5A5;
    border: none;
    font-size: 30px;
    background-color: white;
}

.like-button {
    cursor: pointer;
}
.liked {
    color: brown;
}
